body {
    margin: 0px;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
}
.asset-container {
    position: relative;
    width: 50%;
    background-color: #00293B;
    height: 100vh;
}
.asset {
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-container {
    width: 50%;
    background-color: #F5F7FB;
}
.company-name {
    font-family: Lato;
    font-weight: bold;
    font-size: 30px;
    margin-top: 180px;
    margin-bottom: 50px;
    color: #80949D;
    text-align: center;
}

.form-content-wrapper {
    max-width: 460px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.input-placeholder {
    font-family: Lato;
    color: #80949D;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.form-inputs {
    border: none;
    border-bottom: 1px solid #80949D;
    background: transparent;
    height: 40px;
    outline: none;
    color: #00293B;
    font-size: 24px;
}
.forget-password {
    text-align: right;
    margin-top: 25px;
    margin-bottom: 30px;
    font-family: Lato;
    color: #00293B;
    font-size: 14px;
    cursor: pointer;

}
.login {
    max-width: 200px;
    cursor: pointer;
    width: 100%;
    margin: auto;
    height: 60px;
    background-color: #00293B;
    color: #F5F7FB;
    border-radius: 30px;
    font-size: 25px;
    font-family: Lato;
}
.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
    border: none;
}
.error {
    font-size: 10px;
    color: red;
}
.hide {
    display: none;
}
@media only screen and (max-width: 600px) {
    .asset-container {
        display: none;
    }
    .form-container {
        width: 100%;
        padding: 20px;
    }
}
