body {
    margin: 0px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0px 80px;
}
.header {
    font-family: 'Public Sans', sans-serif;
    font-size: 22px;
    color: hsl(233, 26%, 24%);
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(220, 16%, 96%);
    background-image: url("images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: right -100px top -100px;
    background-size: 600px;
    min-height: calc(100vh - 80px);
}
.custom-center {
    padding: 45px;
    background-color: white;
    max-width: 600px;
    width: 100%;
    box-shadow: 0px 0px 20px 0px hsl(233, 26%, 24%);
}
.form-header {
    font-size: 32px;
    font-family: 'Public Sans', sans-serif;
    color: hsl(233, 26%, 24%);
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-submit-button {
    display: flex;
    justify-content: flex-end;
}
@media only screen and (max-width: 650px) {
    .nav-bar {
        flex-direction: column;
        padding: 25px 0px 0px;
        height: auto;
        background-color: hsl(220, 16%, 96%);
    }
    .wrapper {
        align-items: flex-start;
        min-height: calc(100vh - 128px);
        background-image: none;
    }
    .custom-center {
        box-shadow: none;
        border: 0.3px solid hsl(0, 0%, 86%);
        padding: 20px;
    }
}
