/*Common to all css*/
body {
    margin: 0px;
    position: relative;
}

.common-wrapper {
    margin: 0px auto;
    width: 80vw;
    font-family: 'Public Sans', sans-serif;
}

.request-invite {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 40px;
    cursor: pointer;
}

.request-invite:hover {
    background-image: linear-gradient(to right, hsl(136, 65%, 65%), hsl(192, 70%, 65%));
}
/*nav popup*/
.nav-popup {
    position: absolute;
    background-color: #fafafa;
    color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Public Sans', sans-serif;
    padding: 10px 0px;
    box-shadow: 0px -38px 739px 149px #000000e6;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    width: 90%;
    display: none;
}
.nav-popup a {
    margin: 20px;
    cursor: pointer;
}

/*css defined to particular sections*/
.nav-expanded {
    max-width: 310px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: hsl(233, 8%, 62%);
    height: 90px;
}

.nav-expanded a {
    cursor: pointer;
    align-items: center;
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(to right, hsl(0, 0%, 100%), hsl(0, 0%, 100%)) 0 0 1;
}

.nav-expanded a:hover {
    color: hsl(233, 26%, 24%);
    border-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%)) 0 0 1;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    font-family: 'Public Sans', sans-serif;
}

.nav-toggle {
    color: hsl(233, 8%, 62%);
    display: none;
    cursor: pointer;
    height: 19px;
}
.quote-section {
    background-image: url("images/image-mockups.png") , url("images/bg-intro-desktop.svg");
    background-position: right -130px top -122px , right -250px top -220px;
    background-repeat: no-repeat , no-repeat;
    background-size: 750px , 1050px;
    background-color: #fafafa;
    overflow: hidden;
    position: relative;
}
.quote-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    padding-bottom: 150px;
}

.quote {
    font-size: 50px;
    font-weight: 100;
    color: hsl(233, 26%, 24%);
    margin-bottom: 10px;
    margin-top: 150px;
}
.quote-description {
    color: hsl(233, 8%, 62%);
    margin-bottom: 40px;
}
.why-us-section {
    background-color: hsl(220, 16%, 96%);
    background-image: url("images/image-mockups.png");
    background-position: right -130px top -704px;
    background-repeat: no-repeat;
    background-size: 750px;
}
.que-ans-wrapper {
    padding: 70px 0px 50px 0px;
    font-family: 'Public Sans', sans-serif;
    max-width: 575px;
}
.que-ans-wrapper .header {
    color: hsl(233, 26%, 24%);
    margin-bottom: 30px;
    font-size: 35px;
}
.que-ans-wrapper .sub {
    color: hsl(233, 8%, 62%);
}
.facts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 70px;
}
.fact {
    max-width: 262px;
    width: 100%;
    font-family: 'Public Sans', sans-serif;
}
.fact .header {
    font-size: 23px;
    color: hsl(233, 26%, 24%);
}
.fact .description {
    font-size: 15px;
    color: hsl(233, 8%, 62%);
    line-height: 22px;
}
.articles-section {
    background-color: hsl(0, 0%, 98%);
    padding-top: 40px;
}
.articles-section .header {
    font-size: 35px;
    color:  hsl(233, 26%, 24%);
    margin-top: 70px;
}
.articles-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 70px;
}
.article {
    max-width: 270px;
    width: 100%;
    font-family: 'Public Sans', sans-serif;
}
.article-details-wrapper {
    padding: 20px;
}
.article img {
    width: 270px;
    height: 200px;
    object-fit: cover;
}
.author {
    font-size: 12px;
    color:  hsl(233, 8%, 62%);
}
.title {
    font-size: 18px;
    color: hsl(233, 26%, 24%);
    max-width: 210px;
    margin-top: 0px;
}
.title:hover {
    color: hsl(136, 65%, 51%);
}
.content {
    font-size: 15px;
    color:  hsl(233, 8%, 62%);
}
footer {
    background-color:  hsl(233, 26%, 24%);
    font-family: 'Public Sans', sans-serif;
}
.footer-wrapper {
    display: flex;
    padding: 40px 0px;
    height: 95px;
}
.fill-svg {
    fill: #fafafa;
}
.icons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.links-wrapper {
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.links-wrapper a {
    color: #fafafa;
}
.links-wrapper a:hover {
    color: hsl(136, 65%, 51%);
    cursor: pointer;
}
.invite-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}
.invite-wrapper .copyright {
    color: hsl(233, 8%, 62%);
    text-align: center;
}
/*dynamic css*/
@media only screen and (max-width: 1250px) {
    .quote-section {
        background-image: url("images/image-mockups.png") , url("images/bg-intro-desktop.svg");
        background-position: right -350px top -122px , right -450px top -400px;
        background-repeat: no-repeat , no-repeat;
        background-size: 700px , 1000px;
    }
    .why-us-section {
        background-color: hsl(220, 16%, 96%);
        background-image: url("images/image-mockups.png");
        background-position: right -350px top -704px;
        background-repeat: no-repeat;
        background-size: 700px;
    }
}
@media only screen and (max-width: 850px) {
    .first-invite {
        display: none;
    }
    .quote-section {
        background-image: url("images/image-mockups.png") , url("images/bg-intro-mobile.svg");
        background-position: center top -300px , center top -325px;
        background-repeat: no-repeat , no-repeat;
        background-size: 700px , 920px;
    }
    .why-us-section {
        background-image: none;
    }
    .quote {
        margin-top: 560px;
    }
    .quote-container {
        width: auto;
        align-items: center;
        text-align: center;
        padding: 25px 25px 70px;
    }
    .que-ans-wrapper {
        width: 100%;
        text-align: center;
        max-width: none;
    }
    .why-us-section {
        padding: 0px 25px;
    }
    .facts-wrapper {
        justify-content: center;
    }
    .fact {
        text-align: center;
    }
    .articles-section .header {
        text-align: center;
    }
    .articles-wrapper {
        justify-content: center;
    }
    .article {
        margin: 0px 20px;
    }
    .links-wrapper {
        margin-left: 5%;
    }
}
@media only screen and (max-width: 600px) {
    .nav-expanded {
        display: none;
    }
    .nav-toggle {
        display: block;
    }
    .common-wrapper {
        width: auto;
    }
    .nav-wrapper {
        padding: 25px;
    }
    .quote-section {
        background-image: url(images/image-mockups.png) , url(images/bg-intro-mobile.svg);
        background-position: center top -222px , center top -165px;
        background-repeat: no-repeat , no-repeat;
        background-size: 520px , 600px;
    }
    .quote {
        margin-top: 410px;
    }
    .footer-wrapper {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .invite-wrapper {
        margin-left: 0px;
    }
    .icons-wrapper {
        height: 75px;
        margin-bottom: 35px;
    }
    .links-wrapper {
        align-items: center;
        margin-left: 0px;
    }
    .links-wrapper a {
        margin-bottom: 15px;
    }
    .invite-wrapper {
        margin-top: 20px;
    }
    .invite-wrapper .copyright {
        margin-bottom: 0px;
    }
}
